body{
    text-align: center;
    font-family: Arial, sans-serif;
    background: lightyellow;
}

h1 {
    font-family: 'Exo', sans-serif;
}

.space {
    width: 60px;
    height: 60px;
    background-color: lightblue;
    border: 1px solid white;
    display: inline-block;
}

button {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    height: 30px;
    width: 200px;
    margin: 20px;
}
